/* Acá va tu código */
  .screen    {
  opacity: 10;
 }   
  body{
    background-color: lightpink;
  background-image: url(img/fondo1.jpg);
  background-repeat: no-repeat;
  text-align: center;
  background-attachment: fixed;
  background-size: 70% 100%;
  background-position: center;
  font-family: "Gill Sans Extrabold", Helvetica, sans-serif

   }  
h1 {
  color: white;
  background-color: violet;
  border: 6px double #ffb6c1;
  margin-left:350px; 
  margin-right:350px;
  text-align: lefth;
 }
h2{
  color: black;
  background-color:#FFDAB9;
  margin-left:350px; 
  margin-right:350px;
  border: 1px double #ffb6c1;
}
h3{
  color: white;
  background-color:#87CEFA;
  margin-left:450px; 
  margin-right:450px;
  border: 1px double #6495ED;
}
h4{
color: black;
background-color: #FFB6C1;
margin-left:350px; 
margin-right:350px;
border: 6px double rgb(199, 38, 137);

}

.resultado_codigo{
  padding: 20px;
  widows: 50%;
  background-color: aliceblue;
  height:90%;
  position: relative;
  margin-right: 450px;
  margin-left: 450px;
  border: 6px double rgb(199, 38,138);
}
